@charset "UTF-8";
html, body{ font-family: "Poppins"; line-height: 1.25em; list-style: none; }
.wrap{}
.sections{}
.width_con{ background: rgba(255, 255, 255, .25); width: 1200px; margin: 0 auto; padding: 144px 0;}


.title_con{ padding-bottom: 72px;}
.title_con.nobt{ padding-bottom: 0;}
.title_con > * { position: relative;}
.title_con.center{ text-align: center;} 
.title_con.right{ text-align: right;}

.title_con h1,
.title_con h2,
.title_con h3{ line-height: .825em; text-transform: uppercase;}       
.title_con h4,
.title_con h5{ line-height: 1.15em}

.title_con h1{ font-size: 100px; font-weight: 800; margin-top: 18px;}
.title_con h2{ font-size: 72px; font-weight: 600; margin-top: 11px;}
.title_con h3{ font-size: 32px; font-weight: 500; color: #937659; }
.title_con h4{ font-size: 18px; font-weight: 500; margin-top: 32px;}
.title_con h4:before{ content: ""; width: 36px; height: 3px; position: absolute; background: #937659; top: -18px;}
.title_con.center h4:before{ left: 50%; margin-left: -18px;}
.title_con.right h4:before{ left: auto; right: 0;}
.title_con h5{ font-size: 14px; font-weight: 400; margin-top: 10px;}

.title_con.light > *{ color: #fff; }
.title_con.light h3{ color: #e1cbb5;}
.title_con.light h4:before{ background: #e1cbb5; }

.title_con.white > *{ color: #fff;}
.title_con.white h3{ color: #fff;}
.title_con.white h4:before{ background: #fff;}


ul.v_con{ width: calc(100% + 36px); margin: 0 -18px;}
ul.v_con li.cells{ display: inline-block; width: calc(100% - 36px); margin: 0 18px 36px; vertical-align: top;}
ul.v_con li.cells.box{ position: relative; background: #eee; border-radius: 36px; overflow: hidden;}
ul.v_con li.cells.box .full_image{ width: 100%;}
ul.v_con.one_con{}
ul.v_con.one_con > li.cells{ width: calc(100% - 36px);}
ul.v_con.two_con{}
ul.v_con.two_con > li.cells{ width: calc(50% - 36px);}
ul.v_con.three_con{ }
ul.v_con.three_con > li.cells{ width: calc(33.333% - 36px); }
ul.v_con.four_con{ }
ul.v_con.four_con > li.cells{ width: calc(25% - 36px); }
ul.v_con.six_con{ }
ul.v_con.six_con > li.cells{ width: calc(16.666% - 36px); }





#visual.sections.section_01{ position: relative; overflow: hidden;}
#visual.sections.section_01 .ratio{ position: relative; z-index: 1; width: 100%;}
#visual.sections.section_01 iframe{ position: absolute; top: -200px; left: 0; width: 100%; height: calc(100% + 400px); pointer-events: none;}
#visual.sections.section_01 .width_con{ position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%);}
#visual.sections.section_01 .width_con .title_con{}
#visual.sections.section_01 .width_con .title_con h1{}
#visual.sections.section_01 .width_con .title_con h2{}
#visual.sections.section_01 .width_con .title_con h3{}
#visual.sections.section_01 .width_con .title_con h4{}
#visual.sections.section_01 .width_con .title_con h5{}

#ambassador.sections.section_02{}
#ambassador.sections.section_02 .width_con{}
#ambassador.sections.section_02 .v_con.two_con{}
#ambassador.sections.section_02 .v_con.two_con li.cells{}
#ambassador.sections.section_02 .v_con.two_con li.cells.box{}
#ambassador.sections.section_02 .v_con.two_con li.cells .title_con{}
#ambassador.sections.section_02 .v_con.two_con li.cells .title_con h2{}
#ambassador.sections.section_02 .v_con.two_con li.cells .title_con h3{}
#ambassador.sections.section_02 .v_con.two_con li.cells .title_con h4{}
#ambassador.sections.section_02 .v_con.two_con li.cells .title_con h5{}

#about.sections.section_03{ background: url(../img/bg_about_01.jpg) 50% 50% no-repeat; background-size: cover; background-attachment: fixed;}
#about.sections.section_03 .width_con {}
#about.sections.section_03 .title_con {}
#about.sections.section_03 .title_con h2{}
#about.sections.section_03 .title_con h3{}
#about.sections.section_03 .title_con h4{}
#about.sections.section_03 .title_con h5{}

#mini_banner.sections.section_04{ background: url(../img/bg_banner.jpg) 50% 50% no-repeat; background-size: cover; }
#mini_banner.sections.section_04 .width_con{ padding: 72px 0;}
#mini_banner.sections.section_04 .title_con {}
#mini_banner.sections.section_04 .title_con h4{ margin-top: 0px;}
/*background: 색상 url(이미지경로) x축정렬 y축정렬 반복/비반복;*/

#ceo.sections.section_05{ background: url(../img/bg_founder.jpg) 50% 50% no-repeat; background-size: cover;}
#ceo.sections.section_05 .width_con{}
#ceo.sections.section_05 .width_con .v_con.two_con{}
#ceo.sections.section_05 .width_con .v_con.two_con li.cells{}
#ceo.sections.section_05 .width_con .v_con.two_con li.cells.box{}
#ceo.sections.section_05 .width_con .v_con.two_con li.cells.box .title_con{}
#ceo.sections.section_05 .width_con .v_con.two_con li.cells.box .title_con h2{}
#ceo.sections.section_05 .width_con .v_con.two_con li.cells.box .title_con h3{}
#ceo.sections.section_05 .width_con .v_con.two_con li.cells.box .title_con h4{}
#ceo.sections.section_05 .width_con .v_con.two_con li.cells.box .title_con h5{}

#history.sections.section_06{}
#history.sections.section_06 .width_con{}
#history.sections.section_06 .width_con .v_con{}
#history.sections.section_06 .width_con .v_con li.cells{}
#history.sections.section_06 .width_con .v_con li.cells .title_con{}
#history.sections.section_06 .width_con .v_con li.cells .title_con h2{}
#history.sections.section_06 .width_con .v_con li.cells .title_con h3{}
#history.sections.section_06 .width_con .v_con li.cells .title_con h4{}
#history.sections.section_06 .width_con .v_con li.cells .title_con h5{}

#history.sections.section_06 .title h4{ position:absolute; content: ""; top: 72px; left: 36px; color: #fff;}
#history.sections.section_06 .title h5{ position:absolute; content: ""; top: 143px; left: 36px; color: #fff;}

#history.sections.section_06 .width_con .v_con.one_con{}
#history.sections.section_06 .width_con .v_con.one_con li.cells.box{ background: url(../img/img_history_1993.jpg) 50% 50% no-repeat; background-size: cover; height: 600px;}

#history.sections.section_06 .width_con .v_con.one_con li.cells.box img{}
#history.sections.section_06 .width_con .v_con.one_con li.cells.box .title{}
#history.sections.section_06 .width_con .v_con.one_con li.cells.box .title h4{}
#history.sections.section_06 .width_con .v_con.one_con li.cells.box .title h5{}

#history.sections.section_06 .width_con .v_con.four_con{}
#history.sections.section_06 .width_con .v_con.four_con li.cells{}
#history.sections.section_06 .width_con .v_con.four_con li.cells.box{}

#season.sections.section_07{ background: url(../img/bg_season.jpg) 50% 50% no-repeat; background-size: cover;}
#season.sections.section_07 .width_con{ padding: 288px 0;}
#season.sections.section_07 .width_con .title_con{}
#season.sections.section_07 .width_con .title_con h2{}
#season.sections.section_07 .width_con .title_con h3{}
#season.sections.section_07 .width_con .title_con h4{}
#season.sections.section_07 .width_con .title_con h5{}

#product.sections.section_08{}
#product.sections.section_08 .width_con{}
#product.sections.section_08 .width_con .title_con{}
#product.sections.section_08 .width_con .title_con h2{}
#product.sections.section_08 .width_con .title_con h3{}
#product.sections.section_08 .width_con .title_con h4{}
#product.sections.section_08 .width_con .title_con h5{}
#product.sections.section_08 .width_con .v_con.six_con{}
#product.sections.section_08 .width_con .v_con.six_con li.cells{}
#product.sections.section_08 .width_con .v_con.six_con li.cells.box{}
#product.sections.section_08 .width_con .v_con.six_con li.cells.box a{}
#product.sections.section_08 .width_con .v_con.six_con li.cells.box a img{}
#product.sections.section_08 .width_con .v_con.six_con li.cells.box a .title{}
#product.sections.section_08 .width_con .v_con.six_con li.cells.box a .title h4{}

#event.sections.section_09{}
#event.sections.section_09 .width_con{}
#event.sections.section_09 .width_con .v_con.four_con{}
#event.sections.section_09 .width_con .v_con.four_con li.cells{}
#event.sections.section_09 .width_con .v_con.four_con li.cells.title_con{}
#event.sections.section_09 .width_con .v_con.four_con li.cells.title_con h2{}
#event.sections.section_09 .width_con .v_con.four_con li.cells.title_con h3{}
#event.sections.section_09 .width_con .v_con.four_con li.cells.title_con h4{}
#event.sections.section_09 .width_con .v_con.four_con li.cells.title_con h5{}
#event.sections.section_09 .width_con .v_con.four_con li.cells.box{}
#event.sections.section_09 .width_con .v_con.four_con li.cells.box a{}
#event.sections.section_09 .width_con .v_con.four_con li.cells.box a .title{}
#event.sections.section_09 .width_con .v_con.four_con li.cells.box a .title h4{}

#store.sections.section_10{}
#store.sections.section_10 .width_con{}
#store.sections.section_10 .width_con .title_con{}
#store.sections.section_10 .width_con .title_con h2{}
#store.sections.section_10 .width_con .title_con h3{}
#store.sections.section_10 .width_con .title_con h4{}
#store.sections.section_10 .width_con .title_con h5{}
#store.sections.section_10 .width_con .v_con.one_con{}
#store.sections.section_10 .width_con .v_con.one_con li.cells{}
#store.sections.section_10 .width_con .v_con.one_con li.cells.box{}
#store.sections.section_10 .width_con .v_con.one_con li.cells.box .title{}
#store.sections.section_10 .width_con .v_con.one_con li.cells.box .title h4{}
#store.sections.section_10 .width_con .v_con.one_con li.cells.box .title h5{}

#store.sections.section_10 .width_con .v_con.one_con li.cells.box .title h4,
#store.sections.section_10 .width_con .v_con.one_con li.cells.box .title h5{ text-align: center; position:absolute; content: ""; bottom: 0; left: 0; width: 100%; }

#store.sections.section_10 .width_con .v_con.one_con li.cells.box .title h4{ font-size: 18px; padding-bottom: 57px; }
#store.sections.section_10 .width_con .v_con.one_con li.cells.box .title h5{ font-size: 14px; padding-bottom: 30px; }

#store.sections.section_10 .width_con .v_con.four_con{}
#store.sections.section_10 .width_con .v_con.four_con li.cells{}
#store.sections.section_10 .width_con .v_con.four_con li.cells.box{}
#store.sections.section_10 .width_con .v_con.four_con li.cells.box a{}
#store.sections.section_10 .width_con .v_con.four_con li.cells.box a .title{}
#store.sections.section_10 .width_con .v_con.four_con li.cells.box a .title h4{}



#map.sections.section_11{ height: 600px; overflow: hidden; }
#map.sections.section_11 iframe{width: calc(100% + 1000px); height: calc(100% + 400px); margin-top: -200px; margin-left:-800px;}
#map.sections.section_11 .width_con{}
#map.sections.section_11 .width_con .v_con.two_con{}
#map.sections.section_11 .width_con .v_con.two_con li.cells{}
#map.sections.section_11 .width_con .v_con.two_con li.cells.box{}
#map.sections.section_11 .width_con .v_con.two_con li.cells.box .title_con{}
#map.sections.section_11 .width_con .v_con.two_con li.cells.box .title_con h2{}
#map.sections.section_11 .width_con .v_con.two_con li.cells.box .title_con h3{}
#map.sections.section_11 .width_con .v_con.two_con li.cells.box .title_con h4{}
#map.sections.section_11 .width_con .v_con.two_con li.cells.box .title_con h5{}

#footer.sections.section_12{}
#footer.sections.section_12 .width_con{}
#footer.sections.section_12 .width_con .v_con.four_con{}
#footer.sections.section_12 .width_con .v_con.four_con li.cells{}
#footer.sections.section_12 .width_con .v_con.four_con li.cells .title_con{}
#footer.sections.section_12 .width_con .v_con.four_con li.cells .title_con h4{}
#footer.sections.section_12 .width_con .v_con.four_con li.cells .title_con a{}
#footer.sections.section_12 .width_con .v_con.four_con li.cells .title_con a .title{}
#footer.sections.section_12 .width_con .v_con.four_con li.cells .title_con a .title h5{}

#product.sections.section_08 .title h4,
#event.sections.section_09 .title h4, /*노성선생님 검토*/
#store.sections.section_10 .title h4{ text-align: center; position:absolute; content: ""; bottom: 0; left: 0; width: 100%; padding-bottom: 25px;}

#mini_banner.sections.section_04 .title_con h4:before,
#history.sections.section_06 .v_con.one_con .title_con h4:before,
#footer.sections.section_12 .title_con h4:before { position: relative; }